.Contact {
    &__list {
        margin: 15px 0;
        // padding: 0 5%;

        @include mq(smartphone) {
            padding: 0 5%;
        }

        @include mq(smartphone-large) {
            padding: 0 10%;
        }
    }

    &__item {
        font-size: 2rem;
        display: flex;
        margin: 20px 0;
    }

    &__icon {
        flex-basis: 10%;
        font-size: 2rem;
        margin-right: 5px;
        text-align: center;

        @include mq(smartphone) {
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.4rem;
        }
    }

    &__text {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        // text-align: left;

        @include mq(smartphone) {
            flex-basis: 80%;
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            flex-basis: 75%;
            font-size: 2.4rem;
        }

        &--next-line {
            font-size: 2rem;
            text-align: center;

            @include mq(smartphone) {
                font-size: 2.2rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.4rem;
            }
        }
    }

}