.Contact {

    &__name {
        font-size: 2.4rem;

        @include mq(smartphone) {
            font-size: 2.6rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.8rem;
        }

        @include mq(tablet) {
            font-size: 3rem;
        }

        @include mq(tablet) {
            font-size: 3.4rem;
        }

        @include mq(desktop-small) {
            font-size: 1.8rem;
        }
    }

    &__list {

        @include mq(smartphone) {
            padding: 0 5%;
        }

        @include mq(smartphone-large) {
            padding: 0 10%;
        }

        @include mq(tablet) {
            padding: 0 5%;
        }

        @include mq(desktop-small) {
            padding: 0 10px;
        }
    }

    &__item {
        font-size: 2rem;
        display: flex;
        margin: 20px 0;
    }

    &__icon {
        flex-basis: 10%;
        font-size: 2rem;
        margin-right: 5px;
        text-align: center;

        @include mq(smartphone) {
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.4rem;
        }

        @include mq(tablet) {
            font-size: 2.8rem;
        }

        @include mq(tablet-large) {
            font-size: 3rem;
        }

        @include mq(desktop-small) {
            flex-basis: 5%;
            margin-right: 0;
            font-size: 1.6rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-size: 2rem;

        @include mq(smartphone) {
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.4rem;
        }

        @include mq(tablet) {
            font-size: 2.8rem;
        }

        @include mq(tablet-large) {
            font-size: 3rem;
        }

        @include mq(desktop-small) {
            font-size: 1.6rem;
        }

        &--next-line {
            font-size: 2rem;
            text-align: center;

            @include mq(smartphone) {
                font-size: 2.2rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.4rem;
            }

            @include mq(tablet) {
                font-size: 2.8rem;
            }

            @include mq(tablet-large) {
                font-size: 3rem;
            }

            @include mq(desktop-small) {
                font-size: 1.6rem;
            }
        }
    }
}