.Home {
    background-color: rgb(123, 123, 224);

    &__text-about-me {
        line-height: 1.5;
        font-size: 2rem;
        text-indent: 30px;

        @include mq(smartphone) {
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.5rem;
        }

        @include mq-landscape(smartphone-large) {
            font-size: 2.2rem;
        }

        @include mq(tablet) {
            font-size: 2.8rem;
        }

        @include mq(tablet-large) {
            font-size: 3.1rem;
            line-height: 1.6;
        }
    }
}