.Home {

    &__text-about-me {
        padding: 30px;
        line-height: 1.5;
        font-size: 2rem;
        text-indent: 30px;

        @include mq(smartphone) {
            padding: 30px 45px;
            font-size: 2.2rem;
        }

        @include mq(smartphone-large) {
            padding: 35px 60px;
            font-size: 2.5rem;
        }

        @include mq-landscape(smartphone-large) {
            font-size: 2.2rem;
        }

        @include mq(tablet) {
            padding: 45px 65px;
            font-size: 2.8rem;
        }

        @include mq(tablet-large) {
            padding: 50px 100px;
            font-size: 3.1rem;
            line-height: 1.6;
        }

        @include mq(desktop-small) {
            padding: 35px 80px;
            font-size: 1.6rem;
        }

        @include mq(desktop-medium) {
            padding: 35px 150px;
        }

        @include mq(desktop-large) {
            padding: 40px 300px;
        }
    }
}