* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #25315F;
}
@media (min-width: 1921px) {
  .App {
    width: 1920px;
    margin: auto;
  }
}

.List-style {
  list-style: none;
}

.Link-style {
  text-decoration: none;
  display: block;
}

.Display-none {
  display: none;
}

.Header {
  width: 100vw;
  height: 80px;
  position: relative;
  background-color: #C8DBFB;
}
@media (min-width:800px) {
  .Header {
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .Header {
    height: 60px;
  }
}
@media (min-width: 1921px) {
  .Header {
    margin: auto;
    width: 1920px;
  }
}
.Header__name {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.Header__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(0.25turn, #2e65cd, #25315F);
  background-clip: text;
  color: transparent;
}
.Header__link--text {
  align-content: center;
  font-size: 2rem;
  font-family: "Rowdies", cursive;
}
@media (min-width: 460px) {
  .Header__link--text {
    font-size: 2.3rem;
  }
}
@media (min-width: 640px) {
  .Header__link--text {
    font-size: 2.6rem;
  }
}
@media (min-width:800px) {
  .Header__link--text {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Header__link--text {
    font-size: 1.8rem;
  }
}
.Header__link--next-line {
  font-size: 2rem;
  font-family: "Rowdies", cursive;
}
@media (min-width: 460px) {
  .Header__link--next-line {
    font-size: 2.3rem;
  }
}
@media (min-width: 640px) {
  .Header__link--next-line {
    font-size: 2.6rem;
  }
}
@media (min-width:800px) {
  .Header__link--next-line {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Header__link--next-line {
    font-size: 1.8rem;
  }
}
.Mobile-nav__button {
  position: fixed;
  top: 40px;
  right: 20px;
  transform: translateY(-50%);
  z-index: 3;
  font-size: 5.5rem;
  color: #3175ed;
}
@media (min-width: 1024px) {
  .Mobile-nav__button {
    display: none;
  }
}
@media (min-width: 460px) {
  .Mobile-nav__button {
    right: 25px;
  }
}
@media (min-width: 640px) {
  .Mobile-nav__button {
    right: 30px;
    font-size: 6rem;
  }
}
@media (min-width:800px) {
  .Mobile-nav__button {
    top: 50px;
    right: 35px;
    font-size: 7rem;
  }
}
.Mobile-nav__button:hover {
  transition: 0.2s;
}

.clouse-icon {
  color: #fff;
}
.clouse-icon:hover {
  transition: 0.2s;
}

.Nav-list__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(49, 117, 237, 0.6);
}
.Nav-list__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: #3175ed;
  line-height: 2.5;
  z-index: 1;
}
@media (min-width:800px) {
  .Nav-list__list {
    left: auto;
    right: 0;
    width: 70vw;
  }
}
.Nav-list__item {
  position: relative;
  top: 20%;
  text-align: center;
}
.Nav-list__item--mobile {
  position: relative;
  top: 20%;
  text-align: center;
}
.Nav-list__link {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 460px) {
  .Nav-list__link {
    font-size: 2.8rem;
  }
}
@media (min-width: 640px) {
  .Nav-list__link {
    font-size: 3rem;
  }
}
@media (min-width:800px) {
  .Nav-list__link {
    font-size: 4rem;
  }
}
.Nav-list-offers__list {
  display: flex;
  flex-direction: column;
}
.Nav-list-offers__link {
  font-size: 2rem;
  font-weight: 300;
  padding: 0 5%;
  color: #a8d0e6;
}

.Nav-lh {
  line-height: 1.3;
}

.Desktop-nav-list__list {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 50%;
}
@media (max-width: 1023px) {
  .Desktop-nav-list__list {
    display: none;
  }
}
@media (min-width: 1280px) {
  .Desktop-nav-list__list {
    width: 350px;
    right: 35px;
  }
}
.Desktop-nav-list__item {
  flex-basis: 30%;
  position: relative;
}
.Desktop-nav-list__link {
  padding: 5px;
  background-color: #3175ed;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  background-position: center;
  transition: background 0.8s;
}
@media (min-width: 1280px) {
  .Desktop-nav-list__link {
    font-size: 1.6rem;
  }
}
@media (min-width: 1366px) {
  .Desktop-nav-list__link:hover {
    background: #96b9f6 radial-gradient(circle, transparent 1%, #96b9f6 1%) center/15000%;
  }
}
.Desktop-nav-list__link:active {
  background-color: #d1e0fb;
  background-size: 100%;
  transition: background 0s;
}
.Desktop-nav-list-offers__list {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: antiquewhite;
}
.Desktop-nav-list-offers__link {
  padding: 5px;
  font-size: 2rem;
  color: black;
}

.Images__container {
  position: relative;
  width: 100vw;
  height: 25vh;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .Images__container {
    display: none;
  }
}
@media (min-width: 1280px) {
  .Images__container {
    height: 45vh;
  }
}
@media (min-width: 1921px) {
  .Images__container {
    margin: auto;
    width: 1920px;
  }
}
.Images__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.Page {
  flex-grow: 1;
  background-color: #fff;
}
.Page__activity {
  padding: 5% 10%;
}
@media (min-width: 1280px) {
  .Page__activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 50px;
    text-align: justify;
  }
}
@media (min-width: 1280px) {
  .Page__container {
    flex-basis: 45%;
  }
  .Page__container:nth-child(4) {
    margin-top: -110px;
  }
}
.Page__name {
  font-size: 2.2rem;
  padding: 2%;
}
@media (min-width: 460px) {
  .Page__name {
    font-size: 2.4rem;
  }
}
@media (min-width: 640px) {
  .Page__name {
    font-size: 2.6rem;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .Page__name {
    font-size: 2.2rem;
  }
}
@media (min-width:800px) {
  .Page__name {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .Page__name {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Page__name {
    font-size: 2rem;
  }
}

.Home__text-about-me {
  line-height: 1.5;
  font-size: 2rem;
  text-indent: 30px;
}
@media (min-width: 460px) {
  .Home__text-about-me {
    font-size: 2.2rem;
  }
}
@media (min-width: 640px) {
  .Home__text-about-me {
    font-size: 2.5rem;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .Home__text-about-me {
    font-size: 2.2rem;
  }
}
@media (min-width:800px) {
  .Home__text-about-me {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .Home__text-about-me {
    font-size: 3.1rem;
    line-height: 1.6;
  }
}
@media (min-width: 1280px) {
  .Home__text-about-me {
    padding: 0 20px;
    font-size: 2rem;
  }
}
@media (min-width: 1600px) {
  .Home__text-about-me {
    padding: 0 50px;
  }
}
@media (min-width: 1900px) {
  .Home__text-about-me {
    padding: 0 100px;
  }
}

.Offers__list {
  line-height: 1.5;
  width: 100%;
}
.Offers__item {
  display: flex;
  align-items: baseline;
  margin: 10px;
}
@media (min-width: 640px) {
  .Offers__item {
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .Offers__item {
    margin: 10px 0 10px 20px;
  }
}
.Offers__icon {
  flex-basis: 5%;
}
.Offers__text {
  flex-basis: 95%;
  font-size: 1.8rem;
}
@media (min-width: 460px) {
  .Offers__text {
    font-size: 1.9rem;
  }
}
@media (min-width: 640px) {
  .Offers__text {
    font-size: 2rem;
  }
}
@media (min-width:800px) {
  .Offers__text {
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) {
  .Offers__text {
    font-size: 2.7rem;
  }
}
@media (min-width: 1280px) {
  .Offers__text {
    font-size: 1.8rem;
  }
}

.Contact__name {
  font-size: 2.4rem;
}
@media (min-width: 460px) {
  .Contact__name {
    font-size: 2.6rem;
  }
}
@media (min-width: 640px) {
  .Contact__name {
    font-size: 2.8rem;
  }
}
@media (min-width:800px) {
  .Contact__name {
    font-size: 3rem;
  }
}
@media (min-width:800px) {
  .Contact__name {
    font-size: 3.4rem;
  }
}
@media (min-width: 1280px) {
  .Contact__name {
    font-size: 2.4rem;
  }
}
@media (min-width: 460px) {
  .Contact__list {
    padding: 0 5%;
  }
}
@media (min-width: 640px) {
  .Contact__list {
    padding: 0 10%;
  }
}
@media (min-width:800px) {
  .Contact__list {
    padding: 0 5%;
  }
}
@media (min-width: 1280px) {
  .Contact__list {
    padding: 0;
  }
}
.Contact__item {
  font-size: 2rem;
  display: flex;
  margin: 20px 0;
}
.Contact__icon {
  flex-basis: 10%;
  font-size: 2rem;
  margin-right: 5px;
  text-align: center;
}
@media (min-width: 460px) {
  .Contact__icon {
    font-size: 2.2rem;
  }
}
@media (min-width: 640px) {
  .Contact__icon {
    font-size: 2.4rem;
  }
}
@media (min-width:800px) {
  .Contact__icon {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .Contact__icon {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Contact__icon {
    flex-basis: 5%;
    margin-right: 0;
    font-size: 2.2rem;
  }
}
.Contact__text {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
@media (min-width: 460px) {
  .Contact__text {
    font-size: 2.2rem;
  }
}
@media (min-width: 640px) {
  .Contact__text {
    font-size: 2.4rem;
  }
}
@media (min-width:800px) {
  .Contact__text {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .Contact__text {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Contact__text {
    font-size: 2.2rem;
  }
}
.Contact__text--next-line {
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 460px) {
  .Contact__text--next-line {
    font-size: 2.2rem;
  }
}
@media (min-width: 640px) {
  .Contact__text--next-line {
    font-size: 2.4rem;
  }
}
@media (min-width:800px) {
  .Contact__text--next-line {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .Contact__text--next-line {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .Contact__text--next-line {
    font-size: 2.2rem;
  }
}

.Footer {
  height: 80px;
  background-color: #C8DBFB;
}
@media (min-width:800px) {
  .Footer {
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .Footer {
    height: 60px;
  }
}
.Footer__list {
  position: relative;
  width: 100%;
  height: 100%;
}
.Footer__copyright {
  display: flex;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 80%;
}
@media (min-width: 1024px) {
  .Footer__copyright {
    width: 65%;
  }
}
@media (min-width: 1024px) {
  .Footer__copyright {
    width: 70%;
  }
}
.Footer__button {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
}
@media (min-width: 1024px) {
  .Footer__button {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .Footer__button {
    width: 300px;
  }
}
@media (min-width: 1280px) {
  .Footer__button {
    width: 150px;
  }
}

.Copyright__icon {
  flex-basis: 20px;
  font-size: 1.3rem;
}
@media (min-width: 460px) {
  .Copyright__icon {
    font-size: 1.5rem;
  }
}
@media (min-width: 640px) {
  .Copyright__icon {
    font-size: 1.6rem;
  }
}
@media (min-width:800px) {
  .Copyright__icon {
    flex-basis: 25px;
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .Copyright__icon {
    flex-basis: 30px;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .Copyright__icon {
    flex-basis: 20px;
    font-size: 1.4rem;
  }
}
.Copyright__text {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.Copyright__text--next-line {
  font-size: 1.3rem;
}
@media (min-width: 460px) {
  .Copyright__text--next-line {
    font-size: 1.5rem;
  }
}
@media (min-width: 640px) {
  .Copyright__text--next-line {
    font-size: 1.6rem;
  }
}
@media (min-width:800px) {
  .Copyright__text--next-line {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .Copyright__text--next-line {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .Copyright__text--next-line {
    font-size: 1.4rem;
  }
}
@media (min-width: 460px) {
  .Copyright__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 640px) {
  .Copyright__text {
    font-size: 1.6rem;
  }
}
@media (min-width:800px) {
  .Copyright__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .Copyright__text {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .Copyright__text {
    font-size: 1.4rem;
  }
}

.Button__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.Button__item {
  flex-basis: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .Button__item:nth-child(1), .Button__item:nth-child(2) {
    display: none;
  }
}
.Button__link {
  position: relative;
  width: 100%;
  height: 100%;
}
.Button__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 5.5rem;
  color: #3175ed;
  transition: 0.8s;
}
.Button__icon:active {
  color: #d1e0fb;
  transition: 0s;
}
@media (min-width: 460px) {
  .Button__icon {
    font-size: 6rem;
  }
}
@media (min-width:800px) {
  .Button__icon {
    font-size: 7.5rem;
  }
}
@media (min-width: 1280px) {
  .Button__icon {
    right: 35px;
    font-size: 3.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
