.Mobile-nav {

    &__button {
        font-size: 5.5rem;
        position: fixed;
        top: 15px;
        right: 20px;
        z-index: 1;
        color: #f8e9a1;

        // color: #f3d250;

        // background-color: rgb(223, 142, 45);
        @include mq(smartphone-large) {
            top: 25px;
            right: 35px;
            font-size: 6rem;
        }

        @include mq(tablet) {
            font-size: 7rem;
        }

        &:hover {
            transition: .2s;
        }
    }
}

.redFont {
    color: #f76c6c;
    // color: #f78888;

    &:hover {
        transition: .2s;
    }
}