$breakpoints: (smartphone: '(min-width: 460px)',
    smartphone-large: '(min-width: 640px)',
    tablet: '(min-width:800px)',
    tablet-large: '(min-width: 1024px)',
    desktop-small: '(min-width: 1280px)',
    desktop-medium: '(min-width: 1600px)',
    desktop-large: '(min-width: 1900px)', );


// Heihgt Header and Footer components
$smartphone-height: 80px;
$tablet-height: 100px;
$desktop-height: 60px;

// Colors
$header-footer-color: #C8DBFB;
$page-color: #fff;
$nav-list-color: #3175ed;
$nav-list-bg-color: rgba(49, 117, 237, 0.6);
$nav-list-font-color: #fff;
$font-color: #25315F;
$button-font-color: #fff;
$icon-color: #3175ed;
$icon-hover-color: #96b9f6;
$icon-active-color: #d1e0fb;
$icon-clouse-color: #fff;