.Footer {
    height: $smartphone-height;
    background-color: $header-footer-color;
    // color: #24305e;

    @include mq(tablet) {
        height: $tablet-height;
    }

    @include mq(desktop-small) {
        height: $desktop-height;
    }

    &__list {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__copyright {
        display: flex;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 80%;

        @include mq(tablet-large) {
            width: 65%;
        }

        @include mq(tablet-large) {
            width: 70%;
        }
    }

    &__button {
        position: absolute;
        width: 20%;
        height: 100%;
        top: 0;
        right: 0;

        @include mq(tablet-large) {
            width: 35%;
        }

        @include mq(tablet-large) {
            width: 300px;
        }

        @include mq(desktop-small) {
            width: 150px;
        }
    }
}

.Copyright {
    &__icon {
        flex-basis: 20px;
        font-size: 1.3rem;

        @include mq(smartphone) {
            font-size: 1.5rem;
        }

        @include mq(smartphone-large) {
            font-size: 1.6rem;
        }

        @include mq(tablet) {
            flex-basis: 25px;
            font-size: 1.8rem;
        }

        @include mq(tablet-large) {
            flex-basis: 30px;
            font-size: 2rem;
        }

        @include mq(desktop-small) {
            flex-basis: 20px;
            font-size: 1.4rem;
        }
    }

    &__text {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;

        &--next-line {
            font-size: 1.3rem;

            @include mq(smartphone) {
                font-size: 1.5rem;
            }

            @include mq(smartphone-large) {
                font-size: 1.6rem;
            }

            @include mq(tablet) {
                font-size: 1.8rem;
            }

            @include mq(tablet-large) {
                font-size: 2rem;
            }

            @include mq(desktop-small) {
                font-size: 1.4rem;
            }
        }

        @include mq(smartphone) {
            font-size: 1.5rem;
        }

        @include mq(smartphone-large) {
            font-size: 1.6rem;
        }

        @include mq(tablet) {
            font-size: 1.8rem;
        }

        @include mq(tablet-large) {
            font-size: 2rem;
        }

        @include mq(desktop-small) {
            font-size: 1.4rem;
        }
    }
}

.Button {
    &__list {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    &__item {
        flex-basis: 100%;
        height: 100%;

        &:nth-child(1),
        &:nth-child(2) {
            @media (max-width: 1023px) {
                display: none;
            }
        }
    }

    &__link {
        position: relative;
        width: 100%;
        height: 100%;

    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 5.5rem;
        color: $icon-color;
        transition: 0.8s;

        &:active {
            color: $icon-active-color;
            transition: 0s;
        }

        @include mq(smartphone) {
            font-size: 6rem;
        }

        @include mq(tablet) {
            font-size: 7.5rem;
        }

        @include mq(desktop-small) {
            right: 35px;
            font-size: 3.7rem;
        }
    }
}