.Footer {
    padding: 5px 0;
    background-color: rgb(236, 231, 231);

    &__list {
        display: flex;
        align-items: center;
    }

    &__copyright {
        flex-basis: 80%;
        display: flex;

        &-icon {
            flex-basis: 10%;
            font-size: 1.3rem;
        }

        &-text {
            flex-basis: 90%;
            font-size: 1.3rem;
        }
    }

    &__button {
        flex-basis: 20%;

        &-icon {
            font-size: 6rem;
            color: rgb(90, 88, 88);
        }
    }
}