.Footer {
    background-color: #a8d0e6;
    color: #24305e;

    &__list {
        display: flex;
        align-items: center;
    }

    &__copyright {
        flex-basis: 80%;
        display: flex;

        @include mq(tablet-large) {
            flex-basis: 60%;
        }
    }

    &__button {
        flex-basis: 20%;
        height: 12vh;

        @include mq-landscape(smartphone-large) {
            height: 20vh;
        }

        @include mq(tablet-large) {
            flex-basis: 35%;
            height: 10vh;
        }
    }
}

.Copyright {
    &__icon {
        flex-basis: 10%;
        font-size: 1.3rem;
        padding-left: 5px;

        @include mq(smartphone) {
            font-size: 1.5rem;
            padding-left: 10px;
        }

        @include mq(smartphone-large) {
            font-size: 1.6rem;
        }

        @include mq-landscape(smartphone-large) {
            padding-left: 25px;
        }

        @include mq(tablet) {
            font-size: 1.8rem;
            padding-left: 30px;
        }

        @include mq(tablet-large) {
            font-size: 2rem;
        }
    }

    &__text {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;

        &--next-line {
            font-size: 1.3rem;

            @include mq(smartphone) {
                font-size: 1.5rem;
            }

            @include mq(smartphone-large) {
                font-size: 1.6rem;
            }

            @include mq(tablet) {
                font-size: 1.8rem;
            }

            @include mq(tablet-large) {
                font-size: 2rem;
            }
        }

        @include mq(smartphone) {
            font-size: 1.5rem;
        }

        @include mq(smartphone-large) {
            font-size: 1.6rem;
        }

        @include mq(tablet) {
            font-size: 1.8rem;
        }

        @include mq(tablet-large) {
            font-size: 2rem;
        }
    }
}


.Button {
    &__list {
        display: flex;
        height: 12vh;

        @include mq-landscape(smartphone-large) {
            height: 20vh;
        }

        @include mq(tablet-large) {
            height: 10vh;
        }
    }

    &__item {
        flex-basis: 100%;
        height: 100%;

        &:nth-child(1),
        &:nth-child(2) {
            @media (max-width: 1023px) {
                display: none;
            }
        }
    }

    &__link {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__icon {
        z-index: 1;
        font-size: 5.5rem;
        color: #f3d250;

        position: absolute;
        bottom: 15px;
        right: 20px;

        @include mq(smartphone) {
            font-size: 6rem;
        }

        @include mq(smartphone-large) {
            font-size: 7rem;
        }

        @include mq-landscape(smartphone-large) {
            bottom: 7px;
            right: 30px;
            font-size: 5.8rem;
        }

        @include mq(tablet) {
            bottom: 25px;
            right: 30px;
            font-size: 8rem;
        }

        @include mq(tablet-large) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 8rem;
        }
    }

}