.Header {
    width: 100vw;
    height: $smartphone-height;
    position: relative;
    background-color: #a8d0e6;
    color: #24305e;

    @include mq(tablet) {
        height: $tablet-height;
    }

    @include mq(desktop-small) {
        height: $desktop-height;
    }

    @media (min-width: 1921px) {
        margin: auto;
        width: 1920px;
    }

    &__name {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    &__link {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(0.25turn, #405ccc, #24305e);
        background-clip: text;
        color: transparent;

        &--text {
            align-content: center;
            font-size: 2rem;
            font-family: 'Rowdies', cursive;

            @include mq(smartphone) {
                font-size: 2.3rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.6rem;
            }

            @include mq(tablet) {
                font-size: 3rem;
            }

            @include mq(desktop-small) {
                font-size: 1.8rem;
            }
        }

        &--next-line {
            font-size: 2rem;
            font-family: 'Rowdies', cursive;

            @include mq(smartphone) {
                font-size: 2.3rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.6rem;
            }

            @include mq(tablet) {
                font-size: 3rem;
            }

            @include mq(desktop-small) {
                font-size: 1.8rem;
            }
        }
    }

    &__navigation {
        // flex-basis: 20%;
        // position: absolute;
        // top: 0;
        // right: 0;
        // width: 20%;
        // height: 100%;
        // background-color: red;


        @include mq(tablet-large) {
            // flex-basis: 60%;
        }
    }
}