.Header {
    display: flex;
    width: 100vw;
    height: 12vh;
    background-color: #a8d0e6;
    color: #24305e;


    &__name {
        flex-basis: 80%;
        // display: flex;
        // flex-direction: column;
        // margin: auto 0;
        // text-align: center;
        // text-transform: uppercase;
        // background: linear-gradient(0.25turn, #405ccc, #24305e);
        // background-clip: text;
        // color: transparent;

        @include mq(smartphone) {
            flex-basis: 70%;
        }

    }

    &__link {
        // flex-basis: 80%;
        display: flex;
        height: 12vh;
        flex-direction: column;
        // margin: auto 0;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(0.25turn, #405ccc, #24305e);
        background-clip: text;
        color: transparent;

        &--text {
            // align-items: center;
            margin: auto 0 0 0;
            font-size: 2rem;
            font-family: 'Rowdies', cursive;

            @include mq(smartphone) {
                font-size: 2.3rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.6rem;
            }

            @include mq(tablet) {
                font-size: 3rem;
            }
        }

        &--next-line {
            margin: 0 0 auto 0;
            font-size: 2rem;
            font-family: 'Rowdies', cursive;

            @include mq(smartphone) {
                font-size: 2.3rem;
            }

            @include mq(smartphone-large) {
                font-size: 2.6rem;
            }

            @include mq(tablet) {
                font-size: 3rem;
            }
        }
    }

    &__navigation {
        flex-basis: 20%;
        position: relative;
        // background-color: aqua;
    }
}