.Page {
    flex-grow: 1;
    background-color: #f4f4f4;

    &__activity {
        padding: 5% 10%;
    }

    &__name {
        font-size: 2.2rem;
        padding: 2%;

        @include mq(smartphone) {
            font-size: 2.4rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.6rem;
        }

        @include mq-landscape(smartphone-large) {
            font-size: 2.2rem;
        }

        @include mq(tablet) {
            font-size: 2.8rem;
        }
    }
}