.Page {
    flex-grow: 1;
    background-color: $page-color;

    &__activity {

        @include mq(desktop-small) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: justify;
        }
    }

    &__container {
        &:nth-child(1) {
            padding-top: 30px;
        }

        &:nth-last-child(1) {
            padding-bottom: 30px;
        }

        &:nth-child(n+2) {
            padding-top: 10px;
        }

        @include mq(desktop-small) {
            flex-basis: 45%;

            &:nth-last-child(3) {
                padding-top: 30px;
            }

            &:nth-child(4) {
                margin-top: -100px;
            }

            &:nth-last-child(2) {
                padding-bottom: 30px;
            }
        }
    }

    &__name {
        padding: 0 25px;
        font-size: 2rem;

        @include mq(smartphone) {
            padding: 0 35px;
            font-size: 2.1rem;
        }

        @include mq(smartphone-large) {
            font-size: 2.2rem;
        }

        @include mq-landscape(smartphone-large) {
            font-size: 2.2rem;
        }

        @include mq(tablet) {
            padding: 0 75px;
            font-size: 2.8rem;
        }

        @include mq(tablet-large) {
            padding-left: 80px;
            font-size: 3rem;
        }

        @include mq(desktop-small) {
            font-size: 2rem;
        }
    }
}